{% extends "base.html" %}
{% block content %}
  <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">About</h4>
              <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Contact</h4>
              <ul class="list-unstyled">
                <li><a href="#" class="text-white">Follow on Twitter</a></li>
                <li><a href="#" class="text-white">Like on Facebook</a></li>
                <li><a href="#" class="text-white">Email me</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <img src="{{ url_for('static', filename='images/ouchilogo.png')}}" width="30" height="30">
            <strong>思い出・持ち物リスト</strong>
          </a>
          <button>ログアウト</button>
        </div>
      </div>
    </header>
    
    <main>
        <h1>新規登録</h1>
        <form method="POST" enctype="multipart/form-data">
            <label for="title">品名</label>
            <input type="text" name="title" value={{ post.title }}><br>
            <label for="category">種類</label>
            <input type="text" name="category" value={{ post.category }}><br>
            <label for="username">持主</label>
            <input type="text" name="username" value={{ post.username }}><br>
            <label for="status">状態</label>
            <select name="status" size="1" value={{ post.status }}>
                <option value="自宅保管">自宅保管</option>
                <option value="倉庫保管">倉庫保管</option>
                <option value="処分予定">処分予定</option>
                <option value="処分済み">処分済み</option>
                <option value="その他">その他</option>
                </select><br>
<!--  
            <label for="detail">詳細</label>
            <input type="text" name="detail" value={{ post.detail }}><br>
-->
            <label for="image">画像</label>
            <input type="file" accept=".png, .jpg, .jpeg, .png , .bmp, .gif" name="image" value={{post.user_image_url}}>
            <br>現在の画像
            <img width="100" height="100" src="{{ post.user_image_url }}"><br><br>
            <input type="submit" value="新規登録">
        </form>  
    </main>
    
    <footer class="text-muted py-5">
      <div class="container">
        <p class="float-end mb-1">
          <a href="/">トップに戻る</a>
        </p>
      </div>
    </footer>

        <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{% endblock %}